<!-- starts footer -->
<footer id="footer" style="<%= custom_style if custom_style %>">
    <div class="container">
        <div class="row info">
            <div class="span6 residence">
                <ul>
                    <li>Cra 4B # 23 - 77 Simón Bolivar, Barranquilla.</li>
                    <li>Atlántico, Colombia.</li>
                </ul>
            </div>
            <div class="span5 touch">
                <ul>
                    <li><strong>P.</strong>+57 5 3269648</li>
                    <li><strong>E.</strong><a class="text" href="mailto:bautistamontedesion@gmail.com?Subject=Contacto" target="_top">bautistamontedesion@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row credits">
            <div class="span12">
                <div class="row social">
                    <div class="span12">
                        <a href="https://www.facebook.com/pages/Iglesia-Bautista-Monte-de-Sion/476677389087978" class="facebook" target='_blank'>
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="https://twitter.com/ibms_b" class="twitter" target='_blank'>
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>
                        <a href="https://plus.google.com/105561321367371977576/posts" class="gplus" target='_blank'>
                            <span class="socialicons ico3"></span>
                            <span class="socialicons_h ico3h"></span>
                        </a>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="span12">
                        © 2014 Iglesia Bautista Monte de Sion. Todos los Derechos Reservados. Prohibida su reproducción total o parcial sin autorización escrita de su titular. Reproduction in whole or in part, or translation without written permission is prohibited. All rights reserved 2014.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>