<p> Mensaje enviado desde bautistamontedesion.com </p>
<p>Nombre: <%= @params[:name] %></p>
<p>Correo: <%= @params[:email] %></p>
<p>Teléfono: <%= @params[:phone] %></p>
<p>Contenido: <%= @params[:content] %></p>