<body class='pull_top'>
    <div class="navbar transparent navbar-inverse navbar-static-top">
      <%= render 'shared/header' %>
    </div>

    <div id="aboutus">
        <div class="container">
            <div class="section_header">
                <h3>Quiénes Somos</h3>
            </div>
            <div class="row">
                <div class="span6 intro">
                    <h6>Misión</h6>
                    <p>
                        Somos la Iglesia Bautista Monte de Sion, iglesia de Jesucristo, inspirada en el modelo de la iglesia neotestamentaria, llamados a militar como buenos soldados predicando el evangelio, creciendo y desarrollándonos de forma integral, trabajando para que las personas conozcan, adoren y sirvan al señor Jesucristo. Hch. 2:4 - Mat. 28:18-20.
                    </p>
                    <h6>Visión</h6>
                    <p>Ser para la ciudad de Barranquilla una iglesia ejemplar llamada a estar delante de Dios en obediencia, sometida a su palabra, que inspirada en la iglesia neotestamentaria, con líderes virtuosos, temerosos, veraces y en paz con todos en un mismo espíritu, procure la restauración integral y la formacion del caracter de Cristo en las personas, por medio de la presentación del señor Jesucristo, la enseñanza de los principios y valores de las sagradas escrituras, ayudándoles en su formación espiritual para ser instrumentos de honra, y llegar a la tierra prometida.</p>
                </div>
                <div class="span6 flexslider">
                      <ul class="slides">
                        <li>
                          <img src="assets/iglesia.jpg" />
                        </li>
                        <li>
                          <img src="assets/logo_transparent.png" />
                        </li>
                        <li>
                          <img src="assets/jovenes_cristianos.jpg" />
                        </li>
                        <li>
                          <img src="assets/jesus_es_vida.jpg" />
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="team">
        <div class="container">
            <div class="section_header">
                <h3>Pastores</h3>
            </div>

            <div class="row people">
                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="assets/ale.png" alt="" />
                        <div class="info">
                            <p class="name">Alejandra Galvan Castillo</p>
                            <p class="area">Creative Director</p>
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                        </div>
                    </div>

                    <div class="span6 bio_box bio_boxr">
                        <img src="assets/ale.png" alt="" />
                        <div class="info">
                            <p class="name">Alejandra Galvan Castillo</p>
                            <p class="area">Creative Director</p>
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="process">
        <div class="container">
            <div class="section_header">
                <h3>Our Process</h3>
            </div>
            <div class="row services_circles">
                <div class="span4 description">
                    <div class="text active">
                        <h4>Plan what you need.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Develop your product or service.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                            making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Design this theme to your needs.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                </div>

                <div class="span7 areas">
                    <div class="circle active">
                        <img src="assets/plan.png" />
                        <span>Plan</span>
                    </div>
                    <div class="circle">
                        <img src="assets/develop.png" />
                        <span>Develop</span>
                    </div>
                    <div class="circle last_circle">
                        <img src="assets/design.png" />
                        <span>Design</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= render :partial => 'shared/footer', :locals => {:custom_style => nil } %>

</body>
</html>