<% content_for :title do %>
 Iglesia Bautista Monte de Sion - Acerca de nosotros
<% end %>
<% content_for :description do %>
 Sitio oficial de la Iglesia Iglesia Bautista Monte de Sion en Barranquilla Colombia. Lugar de bendición.
<% end %>
<% content_for :keywords do %>
 iglesia, Dios, bautista, bautista monte de sion, Iglesia Bautista Monte de Sion Barranquilla, ibms barranquilla, ibms, bautistamontedesion
<% end %>
<body class='pull_top'>
    <div class="navbar transparent navbar-inverse navbar-static-top">
      <%= render 'shared/header' %>
    </div>

    <div id="aboutus">
        <div class="container">
            <div class="section_header">
                <h3>Quiénes Somos</h3>
            </div>
            <div class="row">
                <div class="span6 intro">
                    <h6>Misión</h6>
                    <p>
                        Somos la Iglesia Bautista Monte de Sion, iglesia de Jesucristo, inspirada en el modelo de la iglesia neotestamentaria, llamados a militar como buenos soldados predicando el evangelio, creciendo y desarrollándonos de forma integral, trabajando para que las personas conozcan, adoren y sirvan al señor Jesucristo. Hch. 2:4 - Mat. 28:18-20.
                    </p>
                    <h6>Visión</h6>
                    <p>Ser para la ciudad de Barranquilla una iglesia ejemplar llamada a estar delante de Dios en obediencia, sometida a su palabra, que inspirada en la iglesia neotestamentaria, con líderes virtuosos, temerosos, veraces y en paz con todos en un mismo espíritu, procure la restauración integral y la formacion del caracter de Cristo en las personas, por medio de la presentación del señor Jesucristo, la enseñanza de los principios y valores de las sagradas escrituras, ayudándoles en su formación espiritual para ser instrumentos de honra, y llegar a la tierra prometida.</p>
                </div>
                <div class="span6 flexslider">
                      <ul class="slides">
                        <li>
                          <img src="assets/iglesia.jpg" />
                        </li>
                        <li>
                          <img src="assets/logo_transparent.png" />
                        </li>
                        <li>
                          <img src="assets/jovenes_cristianos.jpg" />
                        </li>
                        <li>
                          <img src="assets/jesus_es_vida.jpg" />
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="team">
        <div class="container">
            <div class="section_header">
                <h3>Pastores</h3>
            </div>

            <div class="row people">
                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="assets/pastora.png" alt="" class="c_circle"/>
                        <div class="info">
                            <p class="name">Ledy Faillace Blanco</p>
                            <p class="area">Pastora</p>
                            <a href="https://www.facebook.com/pages/Iglesia-Bautista-Monte-de-Sion/476677389087978" class="facebook" target='_blank'>
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="https://twitter.com/ibms_b" class="twitter" target='_blank'>
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="https://plus.google.com/105561321367371977576/posts" class="gplus" target='_blank'>
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                        </div>
                    </div>

                    <div class="span6 bio_box">
                        <img src="assets/pastor.png" alt="" class="c_circle"/>
                        <div class="info">
                            <p class="name">Eber Villanueva Castro</p>
                            <p class="area">Pastor</p>
                            <a href="https://www.facebook.com/pages/Iglesia-Bautista-Monte-de-Sion/476677389087978" class="facebook" target='_blank'>
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="https://twitter.com/ibms_b" class="twitter" target='_blank'>
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="https://plus.google.com/105561321367371977576/posts" class="gplus" target='_blank'>
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <div class="container">
            <div class="section_header" style="margin-bottom:0px;">
                <h3 style="border-bottom:0px;">"Los que confían en Jehová son como el monte de Sion,
    Que no se mueve, sino que permanece para siempre. Como Jerusalén tiene montes alrededor de ella,
Así Jehová está alrededor de su pueblo
Desde ahora y para siempre." </br>Salmos 125:1-2</h3>
            </div>
        </div>
    </div>

    <%= render :partial => 'shared/footer', :locals => {:custom_style => nil } %>

</body>
</html>